<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaof.mapper.GameRoleMapper">
    <insert id="insertRoleInfo" parameterType="com.yaof.pojo.GameRole">
        insert into index_test
        <trim prefix="(" suffix=")">
            <if test="id != null and id != ''">
                id,
            </if>
            account,
            name,
            sole_type,
            sole_genner,
            sole_grade,
            sole_appearance_type,
            sole_gold_num,
            sole_silver_num,
            sole_monny_num,
            user_id,
            user_name,
            is_adult,
            <if test="userAddress != null and userAddress != ''">user_address,</if>
            <if test="userEmail != null and userEmail != ''">user_email,</if>
            <if test="userWechat != null and userWechat != ''">user_wechat,</if>
            <if test="userSign != null and userSign != ''">user_sign,</if>
            <if test="userVipType != null and userVipType != ''">user_vip_type,</if>
            <if test="userVipGrade != null and userVipGrade != ''">user_vip_grade,</if>
            machine_type
        </trim>
        values
        <trim prefix="(" suffix=")">
            <if test="id != null and id != ''">
                #{id},
            </if>
            #{account},
            #{name},
            #{soleType},
            #{soleGenner},
            #{soleGrade},
            #{soleAppearanceType},
            #{soleGoldNum},
            #{soleSilverNum},
            #{soleMonnyNum},
            #{userId},
            #{userName},
            #{isAdult},
            <if test="userAddress != null and userAddress != ''">#{userAddress},</if>
            <if test="userEmail != null and userEmail != ''">#{userEmail},</if>
            <if test="userWechat != null and userWechat != ''">#{userWechat},</if>
            <if test="userSign != null and userSign != ''">#{userSign},</if>
            <if test="userVipType != null and userVipType != ''">#{userVipType},</if>
            <if test="userVipGrade != null and userVipGrade != ''">#{userVipGrade},</if>
            #{machineType}
        </trim>
    </insert>
</mapper>