<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaof.mapper.UserMapper">
    <select id="getUserName" parameterType="String" resultType="String">
        select name from user where id = #{id}
    </select>

    <insert id="addOneUserAccount" parameterType="com.yaof.pojo.User">
        insert into rca_user
        <trim prefix="(" suffixOverrides=",">
            <if test="account != null and account != ''">account,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="power != null and power != ''">power,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="age != null and age != ''">age,</if>
            <if test="sex != null and sex != ''">sex,</if>
            <if test="birthdate != null and birthdate != ''">birthdate,</if>
            <if test="addr != null and addr != ''">addr,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="email != null and email != ''">email,</if>
            <if test="createAccount != null and createAccount != ''">
                create_account,create_time,
            </if>
            <if test="updateAccount != null and updateAccount != ''">
                update_account,update_time,
            </if>
        </trim>
        <trim prefix=") values (" suffix=")" suffixOverrides=",">
            <if test="account != null and account != ''">#{account},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="power != null and power != ''">#{power},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="age != null and age != ''">#{age},</if>
            <if test="sex != null and sex != ''">#{sex},</if>
            <if test="birthdate != null and birthdate != ''">#{birthdate},</if>
            <if test="addr != null and addr != ''">#{addr},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="email != null and email != ''">#{email},</if>
            <if test="createAccount != null and createAccount != ''">
                #{createAccount},now(),
            </if>
            <if test="updateAccount != null and updateAccount != ''">
                #{updateAccount},now(),
            </if>
        </trim>
    </insert>

    <select id="getUserByAccount" parameterType="String" resultType="com.yaof.pojo.User" useCache="true">
        select
        id, account, age, name, power, birthdate, sex, addr, phone, email
        from
        rca_user
        where
        account = #{account}
    </select>
    <select id="getUserByAccountAndPassword" parameterType="com.yaof.pojo.User"
            resultType="com.yaof.pojo.User">
        select
        id, account, age, name, power, birthdate, sex, addr, phone, email
        from
        rca_user
        where
        account = #{account} and password = #{password}
    </select>

    <update id="saveUserInfoById" parameterType="com.yaof.pojo.User">
        update rca_user
        <set>
            <if test="power != null and power != ''">power=#{power},</if>
            <if test="name != null and name != ''">name=#{name},</if>
            <if test="age != null and age != ''">age=#{age},</if>
            <if test="sex != null and sex != ''">sex=#{sex},</if>
            <if test="birthdate != null and birthdate != ''">birthdate=#{birthdate},</if>
            <if test="addr != null and addr != ''">addr=#{addr},</if>
            <if test="phone != null and phone != ''">phone=#{phone},</if>
            <if test="email != null and email != ''">email=#{email},</if>
            <if test="updateAccount != null and updateAccount != ''">
                update_account=#{updateAccount},update_time=now(),
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updatePassword" parameterType="com.yaof.pojo.User">
        update rca_user
        <set>
            <if test="password != null and password != ''">password = #{password}</if>
        </set>
        where
        account = #{account}
    </update>

    <select id="queryAccountByPower" parameterType="String" resultType="com.yaof.pojo.User">
        select
        id, account, password, age, name, power, birthdate, sex, addr, phone, email
        from
        rca_user
        where
        power = #{power}
    </select>

    <delete id="deleteAccountById" parameterType="String">
        delete from rca_user where id = #{id}
    </delete>

    <update id="updatePasswordByAccount" parameterType="com.yaof.pojo.User">
        update rca_user
        <set>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="updateAccount != null and updateAccount != ''">update_account = #{updateAccount},</if>
            update_time = now()
        </set>
        where account = #{account}
    </update>
</mapper>